.jumbotron {
    background-color: #0077B6 !important;
    text-align: center;
    color: white !important;
    padding: 20px !important;
}

.wrapper {
    padding: 10px;
}

.search-cities {
    position: relative;
    float: left;
    padding: 20px;
    background-color: #E3ECF3; 
    width: 30% !important;
    border: solid 2px;
    border-color: #0077B6;
}

.search {
    margin-left: 10px;
}

.clear {
    padding: 5px;
    margin-left: 5px;
}

#search-button, #clear-button {
    background-color: #0077B6;
    color: white;
    border: none;
}

#past-button {
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #0077B6;
    background-color: white;

}

#past-button:hover {
    background-color: #0077B6 !important;
    color: white !important;
}

.hide {
    display: none;
}

.cities {
    margin-top: 5px;
    margin-left: 10px;
}

.weather-view {
    position: relative;
    padding: 20px;
    padding-bottom: 50px;
    float: right;
    width: 65% !important;
    background-color: #E3ECF3; 
    border: solid 2px;
    border-color: #0077B6;
}

.hide-image {
    display: none;
}

.current-weather {
    margin-bottom: 10px;
    line-height: 2em;
    background-color: #0077B6;
    padding: 20px;
    width: 200px !important;
    color: white;
}

h3 {
    background-color: #0077B6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: #0077B6; */
    padding: 5px;
    color: white;
}

#suggested-cities {
    padding-top: 10px;
}

.forecast-display {
    /* border: solid 1px;
    border-color: #00B4D8; */
    margin-right: 0px;
    margin-bottom: 20px;
    width: 200px !important;
    line-height: 2em;
    padding: 10px;  
    background-color: #0077B6;
    color: white;
}

.uv {
    padding-left: 5px;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

@media (max-width: 400px) {
    .search-cities {
        position: relative;
        float: left;
        padding: 0;
        width: 40% !important;
        border: solid 2px;
        border-color: #0077B6;
    }

    .search { 
        margin-left: 5px;
        margin-right: 5px;
    }

    #city-input {
        margin-top: 4px;
        margin-bottom: 3px;
        width: 130px;
        padding: 3px;
    }

    .clear {
        padding: 5px;
        margin-left: 1px;
    }

    .weather-view {
        position: relative;
        padding: 20px;
        padding-bottom: 50px;
        float: right;
        width: 55% !important;
        border: solid 2px;
        border-color: #0077B6;
    }
    .current-weather {
        margin-bottom: 10px;
        line-height: 2em;
        background-color: #0077B6;
        padding: 20px;
        width: 160px !important;
        color: white;
    }

    .forecast-display {
        /* border: solid 1px;
        border-color: #00B4D8; */
        margin-right: 0px;
        margin-bottom: 20px;
        width: 160px !important;
        line-height: 2em;
        padding: 10px;  
        background-color: #0077B6;
        color: white;
    }

    .btn {
        height: 70px;
    }

    .cities {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}

@media (min-width: 700px) {
    .search-cities {
        position: relative;
        float: left;
        padding: 20px;
        /* background-color: #E9ECEF; */
        width: 30% !important;
        border: solid 2px;
        border-color: #0077B6;
    }

    .weather-view {
        position: relative;
        padding: 20px;
        padding-bottom: 50px;
        float: right;
        width: 65% !important;
        /* background-color: #E9ECEF; */
        border: solid 2px;
        border-color: #0077B6;
    }
    
}
