.hide {
    display: none;
}
body {
    background-image: url("../images/sky-828648_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
}
.wrapper {
    margin: 3px;
    padding-bottom: 500px;
}
.jumbotron {
    padding-bottom: 30px !important;
    background-color: transparent !important;
} 
h1 {
    text-align: center;
}
h4 {
    margin: auto;
}
form {
    width: 100%;
}
#search-button {
    border-color: white;
    color: white;
}
#search-button:hover {
    background-color: #14213E;
}
.dropdown-item:hover {
    background-color: #A5A58D !important;
}
.current-weather {
    text-align: center;
    backdrop-filter: blur(5px); 
    border-radius: 15px;
}
.current {
    margin: 10px;
    margin-bottom: 20px;
}
#temp {
    font-size: 1.5em;
}
#uv {
    margin: auto;
}
.forecast-5day {
    margin: 20px; 
    text-align: center;
}
.fiveDay {
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;   
} 
.eachDay {
    margin: 10px;
    padding: 10px;
    backdrop-filter: blur(5px); 
    border-radius: 15px;
}

@media (min-width: 800px) {
    .fiveDay {
        justify-content: center;
    }
}